@model Argus.Models.ExameFisicoItem

<h2>Eliminação</h2>

@using (Html.BeginForm())
{       @Html.TextBoxFor(model => model.CODIGO_EXAMEFIS, new {Type = "hidden" }) 
    
        <table>
        
        <tr>
        <td>@Html.LabelFor(model => model.NOME)</td>
        <td>@Html.TextBoxFor(model => model.NOME, new { Readonly = "readonly" }) </td>
        </tr>
         
        </table>
    
        <p> <input type="submit" value="Eliminar" /> </p>
        @Html.Label("Aviso:")@ViewBag.mensagem
        <br /> <br /> <br />     
}

<div>
    @Html.ActionLink("Voltar", "Listar", new { codigo = ViewBag.codigoexamefis })
</div>
