@model IEnumerable<Argus.Models.EspecieDoenca>

@{
    WebGrid grid = new WebGrid(source: Model, selectionFieldName: "SelectedRow", rowsPerPage: 20, ajaxUpdateContainerId: "grid");
}
<center>
<h2>Relatório de Doencas por Especie</h2>


<div id="grid">
    @grid.GetHtml(
        tableStyle: "table",
        alternatingRowStyle: "alternate",
        headerStyle: "header",
        footerStyle: "footer",
        mode: WebGridPagerModes.FirstLast | WebGridPagerModes.NextPrevious,
        firstText: "Primeiro",
        previousText: "Anterior",
        nextText: "Próximo",
        lastText: "Último",
        columns: grid.Columns(
           grid.Column("NOME", header: "Nome", format: @<text>@item.NOME</text>),
            grid.Column("ATIVO", header: "Ativo", format: @<text>@item.ATIVO</text>),
            grid.Column("DESCRICAO", header: "Descricao", format: @<text>@item.DESCRICAO</text>),
            grid.Column("CODIGO_ESPECIE", header: "Especie", format: @<text>@item.Especie.NOME</text>)
            
    
   )
   )
                      
    
    <br /><br />
    <form>
    <input type="button" name="imprimir" value="Imprimir" onclick="window.print();">
    </form>
    </center>
</div>
