@model Argus.Models.Consulta

<h2>Eliminação</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{    
        <table>
        
        <tr>
        <td>@Html.LabelFor(model => model.Animal.NOME)</td>
        <td>@Html.EditorFor(model => model.Animal.NOME)</td>
        </tr>       

        </table>
    
        <p> <input type="submit" value="Eliminar" /> </p>
    
         
        @Html.Label("Aviso:")@ViewBag.mensagem
        <br /><br /><br />
}

<div>
    @Html.ActionLink("Voltar", "Listar")
</div>
